<h1>@ViewBag.Message</h1>
<div class = "PetBox">
    <div class="Buttons">
        <button ><a href="/feed"> Feed</a> </button>
        <button ><a href="/play"> Play</a> </button>
        <button ><a href="/work"> Work</a> </button>
        <button ><a href="/sleep"> Sleep</a> </button>
    </div>
    <div class = "thing">
        <h4>Happiness</h4>
        <p>@ViewBag.Happiness</p>
    </div>
        <div class = "thing">
        <h4>Fullness</h4>
        <p>@ViewBag.Fullness</p>
    </div>
        <div class = "thing">
        <h4>Energy</h4>
        <p>@ViewBag.Energy</p>
    </div>
        <div class = "thing">
        <h4>Meals</h4>
        <p>@ViewBag.Meals</p>
    </div>
</div>